body {
  font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
  text-rendering: optimizeLegibility;
}

h1, h2, h3 {
  font-family: inherit;
  font-weight: normal;
}

.remark-code,
.remark-inline-code {
  font-family: "Ubuntu Mono";
}

a {
  color: #1997c6;
}

.black-slide {
  background-color: #000000;
  color: #FFFFFF;
}
